{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
  "implicit-arrow-linebreak": "beside",
  "arrowParens": "avoid",
  "proseWrap": "always",
  "bracketSpacing": true
}